# Configuración del Servidor
PORT=3001
NODE_ENV=development

# Base de Datos PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=123456
DB_NAME=dota_bets

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# API de Steam
#url https://steamcommunity.com/dev/apikey
STEAM_API_KEY=9502523641197329B1C2B6B05C9A8BE2
STEAM_WEB_API_KEY=9502523641197329B1C2B6B05C9A8BE2

# Credenciales para GameCoordinator API (método real de Dota 2)
STEAM_USERNAME=beayan12323
STEAM_PASSWORD=asdasdasdasdsadasd
STEAM_SHARED_SECRET=asdasdasdsadsadsadasdasdasdwe

# JWT
JWT_SECRET=vivaeldota_forever08059752
JWT_EXPIRES=24h

# URLs del Frontend
FRONTEND_URL=http://localhost:3000

# correos
EMAIL_USER=alessandrodelpierogutierrezpar@gmail.com
EMAIL_PASS=eefx eqas ijxg apdu